{% extends "base.html" %}

{% block content %}
<h1>Ответьте на вопрос</h1>
<h4>Вопрос: {{question}}? </h4>
    <h6>% правильных ответов: {{proz_true_ans}}</h6>
    <h6>всего ответов: {{col_answers}}</h6>
<h6>Автор вопроса - <a href="{{author_href}}">{{ author }}</a></h6>
<h6>1){{first_answer}}</h6>
<h6>2){{second_answer}}</h6>
<h6>3){{third_answer}}</h6>
<h6>4){{fourth_answer}}</h6>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.your_answer.label }}<br>
        {{ form.your_answer(class="form-control") }}<br>
        {% for error in form.your_answer.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}